# Repository Secrets
AWS_ACCOUNT_ID="secret"
ACM_CERTIFICATE_ARN="secret"
HOSTED_ZONE_ID="secret"
VERCEL_OIDC_PROVIDER_ARN="secret"

# Repository Variables
AWS_REGION="secret"
VERCEL_TEAM_SLUG="secret"
VERCEL_PROJECT_NAME="secret"

# Environment Secrets
JWT_SECRET="secret"
SERVICES_TABLE_NAME="secret"
USERS_TABLE_NAME="secret"
CATEGORIES_TABLE_NAME="secret"
S3_BUCKET_NAME="secret"
VERCEL_DOMAIN="secret"
CUSTOM_DOMAIN="secret"

# Environment Variables
ENV="secret"