# Repository Secrets
AWS_ACCOUNT_ID="secret"
ACM_CERTIFICATE_ARN="secret"
HOSTED_ZONE_ID="secret"
VERCEL_OIDC_PROVIDER_ARN="secret"

# Repository Variables
AWS_REGION="secret"
VERCEL_TEAM_SLUG="secret"
VERCEL_PROJECT_NAME="secret"

# Set in Vercel env only (CloudFormation VercelRoleArn output). Leave unset locally to use default AWS credential chain.
AWS_ROLE_ARN="secret"arn:aws:iam::034362036555:role/cloudcanvas-vercel-prod

# Environment Secrets
JWT_SECRET="secret"
SERVICES_TABLE_NAME="secret"
USERS_TABLE_NAME="secret"
CATEGORIES_TABLE_NAME="secret"
S3_BUCKET_NAME="secret"
VERCEL_DOMAIN="secret"
CUSTOM_DOMAIN="secret"

# Environment Variables
ENV="secret"