# Environment Configuration Template
# Copy this to .env.development for development or .env.production for production

ENV="dev"
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
SERVICES_TABLE_NAME=""
USERS_TABLE_NAME=""
JWT_SECRET=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NAME=""
